.contenido {
    position: relative;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 60px;
    text-align: center;
}

.botonIngreso {
 margin-top: 100px;
 height: 60px;
 width: 130px;
 border-radius: 7%;
 font-size: 30px;
    &:hover{
        box-shadow: 0 0 20px black;
    }
}